.wm-app .app-left-panel {
    width: 85% !important;
}
/*.wm-app .wm-mobile-app-left-panel.slide-over {*/
/*    width: 100% !important;*/
/*    background-color: rgba(0,0,0,0.7) !important;*/
/*}*/
/*.wm-app .wm-mobile-app-left-panel section.app-partial {*/
/*        width: 77%;*/
/*    background: transparent;*/
/*}*/