<wm-partial data-ng-controller="leftnavPageController" name="leftnav" type="left-panel"> 
    <wm-nav type="pills" layout="stacked" name="nav2" height="7.6%" backgroundcolor="#2b333a"> 
        <wm-nav-item name="nav_item2"> 
            <wm-anchor caption="AirCrew Management" on-click="leftNavToggleBtnClick($event, $scope)" name="leftNavToggleBtn" iconclass="wi wi-bars" class="h4" fontweight="normal" margin="unset unset unset 0px" padding="0px" color="#fff"></wm-anchor> 
        </wm-nav-item> 
    </wm-nav> 
    <wm-nav type="pills" layout="stacked" name="nav1" height="100%" backgroundcolor="#f1f2f3"> 
        <wm-nav-item name="nav_item2"> 
            <wm-anchor caption="Home" iconclass="glyphicon glyphicon-home" name="anchor1" on-tap="Variables.goToPage_Main.invoke()"></wm-anchor> 
        </wm-nav-item> 
        <wm-nav-item name="nav_item3"> 
            <wm-anchor name="anchor2" iconclass="wi wi-check-box" caption="Assigned Flights" on-tap="Variables.goToPage_Assigned_Flights.invoke()"></wm-anchor> 
        </wm-nav-item> 
        <wm-nav-item name="nav_item4"> 
            <wm-anchor name="anchor3" iconclass="wi wi-user" caption="Members" on-tap="Variables.AIR_CREW_MANAGEMENTUserData.listRecords();Variables.goToPage_Members.invoke()"></wm-anchor> 
        </wm-nav-item> 
    </wm-nav> 
</wm-partial>