<wm-page data-ng-controller="flight_detailsPageController" name="page1"> 
    <wm-mobile-navbar name="mobile_navbar1" title="bind:Variables.selected_flight_details.dataSet.FLIGHT_ID"></wm-mobile-navbar> 
    <wm-content name="content1"> 
        <wm-page-content columnwidth="12" name="page_content1"> 
            <wm-layoutgrid name="layoutgrid1"> 
                <wm-gridrow name="gridrow1"> 
                    <wm-gridcolumn columnwidth="12" name="gridcolumn3"> 
                        <wm-container name="container1_1"> 
                            <wm-container name="container1" horizontalalign="center" backgroundcolor="#fff"> 
                                <wm-label name="label1" caption="bind:Variables.selected_flight_details.dataSet.DURATION+' hour(s)'" bordercolor="#7b88df" borderstyle="solid" borderwidth="0px 0px 2px 0px" padding="1em 1em 2em 1em" width="90%"></wm-label> 
                                <wm-layoutgrid name="layoutgrid2"> 
                                    <wm-gridrow name="gridrow7" padding="unset unset .5em unset"> 
                                        <wm-gridcolumn columnwidth="4" name="gridcolumn7_1" horizontalalign="center"> 
                                            <wm-label name="label2" caption="bind:Variables.selected_flight_details.dataSet.SOURCE" fontweight="bold"></wm-label> 
                                            <wm-label caption="bind:&quot;(&quot;+ (Variables.selected_flight_details.dataSet.ETD | toDate: 'HH:mm')+&quot;)&quot;" name="label8"></wm-label> 
                                        </wm-gridcolumn> 
                                        <wm-gridcolumn columnwidth="4" name="gridcolumn8_1" horizontalalign="center"> 
                                            <wm-container name="container2" class="air-plane-container" padding="-2em unset unset unset"> 
                                                <wm-icon name="icon1" iconclass="wi wi-flight fa-3x fa-rotate-90" class="air-plane"></wm-icon> 
                                            </wm-container> 
                                        </wm-gridcolumn> 
                                        <wm-gridcolumn columnwidth="4" name="gridcolumn9_1" horizontalalign="center"> 
                                            <wm-label name="label3" caption="bind:Variables.selected_flight_details.dataSet.DESTINATION" fontweight="bold" horizontalalign="center"></wm-label> 
                                            <wm-label caption="bind:&quot;(&quot;+(Variables.selected_flight_details.dataSet.ETA | toDate: 'HH:mm')+&quot;)&quot;" name="label9"></wm-label> 
                                        </wm-gridcolumn> 
                                    </wm-gridrow> 
                                </wm-layoutgrid> 
                            </wm-container> 
                        </wm-container> 
                    </wm-gridcolumn> 
                </wm-gridrow> 
                <wm-gridrow name="gridrow25_1"> 
                    <wm-gridcolumn columnwidth="12" name="gridcolumn46_1"> 
                        <wm-panel name="panel2_1" title="bind:Variables.selected_flight_details.dataSet.PendingCount + &quot; CREW MEMBERS NEEDED&quot;" class="panel-primary" margin="unset unset 0px unset" show="bind:Variables.selected_flight_details.dataSet.PAGE == 'Main'"> 
                            <wm-layoutgrid name="layoutgrid15" backgroundcolor="#fff" columns="1" show="bind:Variables.selected_flight_details.dataSet.PAGE == 'Main' ? true : false"> 
                                <wm-gridrow name="gridrow29"> 
                                    <wm-gridcolumn colwidth="12" name="gridcolumn56"></wm-gridcolumn> 
                                    <wm-gridrow name="gridrow10"> 
                                        <wm-gridcolumn columnwidth="12" name="gridcolumn16"> 
                                            <wm-list name="list1" fontunit="em" padding="unset unset 0em unset"> 
                                                <wm-list-item name="list_item1" borderstyle="solid" bordercolor="#ddd" borderwidth="0px 0px 1px 0px" padding=".5em 1em"> 
                                                    <wm-label caption="bind:Variables.selected_flight_details.dataSet.CaptainCount+ ' Captain'" marginunit="em" name="label10_1"></wm-label> 
                                                </wm-list-item> 
                                                <wm-list-item name="list_item2" borderstyle="solid" bordercolor="#ddd" borderwidth="0px 0px 1px 0px" padding=".5em 1em"> 
                                                    <wm-label caption="bind:Variables.selected_flight_details.dataSet.FoCount+ ' First Officers'" marginunit="em" name="label11"></wm-label> 
                                                </wm-list-item> 
                                                <wm-list-item name="list_item3" borderstyle="solid" bordercolor="#ddd" borderwidth="0px 0px 1px 0px" padding=".5em 1em"> 
                                                    <wm-label caption="bind:Variables.selected_flight_details.dataSet.CCCount+ ' Cabin Crew'" marginunit="em" name="label12"></wm-label> 
                                                </wm-list-item> 
                                            </wm-list> 
                                            <wm-button class="btn-default btn-raised pull-right" caption="Select Crew" type="button" on-tap="Variables.goToPage_Assign_Crew.invoke()" name="button2" margin="unset .5em unset unset"></wm-button> 
                                        </wm-gridcolumn> 
                                    </wm-gridrow> 
                                </wm-gridrow> 
                            </wm-layoutgrid> 
                        </wm-panel> 
                    </wm-gridcolumn> 
                </wm-gridrow> 
                <wm-gridrow name="gridrow8"> 
                    <wm-gridcolumn columnwidth="12" name="gridcolumn13_1"> 
                        <wm-panel name="panel2" title="bind:&quot;CREW DETAILS&quot;" class="panel-primary crew"> 
                            <wm-list fontunit="em" name="list3" class="list-group" padding="unset unset 0em unset"> 
                                <wm-list-item borderstyle="solid" bordercolor="#ddd" name="list_item5" borderwidth="0px 0px 1px 0px" padding=".5em 1em"> 
                                    <wm-label caption="bind:' Captain'" marginunit="em" name="label13" padding="unset unset unset 1em" class="p" backgroundcolor="#E9E8F8"></wm-label> 
                                    <wm-list name="list4"> 
                                        <wm-list-item name="list_item8"> 
                                            <wm-layoutgrid name="layoutgrid3" columns="2"> 
                                                <wm-gridrow name="gridrow12"> 
                                                    <wm-gridcolumn colwidth="6" name="gridcolumn22" columnwidth="12" padding="1em unset 1em 1em"> 
                                                        <wm-picture width="32px" picturesource="bind:Variables.get_crew_pic_url.dataSet.content[0].Captain_PICURL" name="picture2_1" pictureaspect="None" shape="circle" height="32px" show="bind:Variables.AIR_CREW_MANAGEMENTExecuteGet_crew_details.dataSet[$i].Captain_Name == null ? false : true"></wm-picture> 
                                                        <wm-label caption="bind:Variables.AIR_CREW_MANAGEMENTExecuteGet_crew_details.dataSet.content[0].Captain_Name" name="label25_1" show="bind:Variables.AIR_CREW_MANAGEMENTExecuteGet_crew_details.dataSet[$i].Captain_Name == null ? false : true" margin="unset unset unset 1em" color="#888"></wm-label> 
                                                    </wm-gridcolumn> 
                                                </wm-gridrow> 
                                                <wm-gridrow name="gridrow19_1"> 
                                                    <wm-gridcolumn columnwidth="12" name="gridcolumn21"> 
                                                        <wm-label caption="Please Select a Captain" show="bind:Variables.selected_flight_details.dataSet.CaptainCount == 1" margin="unset unset unset 3em" color="#888" name="label24" padding="unset unset 1em unset"></wm-label> 
                                                    </wm-gridcolumn> 
                                                </wm-gridrow> 
                                            </wm-layoutgrid> 
                                        </wm-list-item> 
                                    </wm-list> 
                                </wm-list-item> 
                                <wm-list-item borderstyle="solid" bordercolor="#ddd" name="list_item6" borderwidth="0px 0px 1px 0px" padding=".5em 1em"> 
                                    <wm-label caption="bind:' First Officers'" marginunit="em" name="label14" class="p" padding="unset unset unset 1em" backgroundcolor="#E9E8F8"></wm-label> 
                                    <wm-list name="list5"> 
                                        <wm-list-item name="list_item9"> 
                                            <wm-layoutgrid columns="2" name="layoutgrid4"> 
                                                <wm-gridrow name="gridrow18"> 
                                                    <wm-gridcolumn colwidth="6" columnwidth="12" name="gridcolumn34" padding="1em unset 0em 1em"> 
                                                        <wm-picture width="32px" picturesource="bind:Variables.get_crew_pic_url.dataSet.content[0].F01_PICURL" pictureaspect="None" shape="circle" height="32px" name="picture4" show="bind:Variables.AIR_CREW_MANAGEMENTExecuteGet_crew_details.dataSet[$i].F01_Name == null ? false :true"></wm-picture> 
                                                        <wm-label caption="bind:Variables.AIR_CREW_MANAGEMENTExecuteGet_crew_details.dataSet.content[0].F01_Name" name="label27_1" show="bind:Variables.AIR_CREW_MANAGEMENTExecuteGet_crew_details.dataSet[$i].F01_Name == null ? false : true" margin="unset unset unset 1em" color="#888"></wm-label> 
                                                    </wm-gridcolumn> 
                                                </wm-gridrow> 
                                            </wm-layoutgrid> 
                                        </wm-list-item> 
                                        <wm-list-item name="list_item10"> 
                                            <wm-layoutgrid columns="2" name="layoutgrid5"> 
                                                <wm-gridrow name="gridrow19"> 
                                                    <wm-gridcolumn colwidth="6" columnwidth="12" name="gridcolumn36" padding="1em unset 1em 1em"> 
                                                        <wm-picture width="32px" picturesource="bind:Variables.get_crew_pic_url.dataSet.content[0].F02_PICURL" pictureaspect="None" shape="circle" height="32px" name="picture5" show="bind:Variables.AIR_CREW_MANAGEMENTExecuteGet_crew_details.dataSet[$i].F02_Name == null ? false : true"></wm-picture> 
                                                        <wm-label caption="bind:Variables.AIR_CREW_MANAGEMENTExecuteGet_crew_details.dataSet.content[0].F02_Name" name="label28" show="bind:Variables.AIR_CREW_MANAGEMENTExecuteGet_crew_details.dataSet[$i].F02_Name == null ? false : true" margin="unset unset unset 1em" color="#888"></wm-label> 
                                                    </wm-gridcolumn> 
                                                </wm-gridrow> 
                                                <wm-gridrow name="gridrow18_1"> 
                                                    <wm-gridcolumn columnwidth="12" name="gridcolumn20"> 
                                                        <wm-label caption="Please Select a First Officer" show="bind:Variables.selected_flight_details.dataSet.FoCount === 2" margin="unset unset unset 3em" color="#888" name="label23" padding="unset unset 1em unset"></wm-label> 
                                                    </wm-gridcolumn> 
                                                </wm-gridrow> 
                                            </wm-layoutgrid> 
                                        </wm-list-item> 
                                    </wm-list> 
                                </wm-list-item> 
                                <wm-list-item borderstyle="solid" bordercolor="#ddd" name="list_item7" borderwidth="0px 0px 1px 0px" padding=".5em 1em"> 
                                    <wm-label caption="bind:' Cabin Crew'" marginunit="em" name="label15" padding="unset unset unset 1em" class="p" backgroundcolor="#E9E8F8"></wm-label> 
                                    <wm-list name="list6"> 
                                        <wm-list-item name="list_item11"> 
                                            <wm-layoutgrid columns="2" name="layoutgrid6"> 
                                                <wm-gridrow name="gridrow20"> 
                                                    <wm-gridcolumn colwidth="6" columnwidth="12" name="gridcolumn38" padding="1em unset unset 1em"> 
                                                        <wm-picture width="32px" picturesource="bind:Variables.get_crew_pic_url.dataSet.content[0].CC1PICURL || ''" pictureaspect="None" shape="circle" height="32px" name="picture6" show="bind:Variables.AIR_CREW_MANAGEMENTExecuteGet_crew_details.dataSet[$i].CC1name == null ? false : true"></wm-picture> 
                                                        <wm-label caption="bind:Variables.AIR_CREW_MANAGEMENTExecuteGet_crew_details.dataSet.content[0].CC1name" name="label29" show="bind:Variables.AIR_CREW_MANAGEMENTExecuteGet_crew_details.dataSet[$i].CC1name == null ? false : true" margin="unset unset unset 1em" color="#888"></wm-label> 
                                                    </wm-gridcolumn> 
                                                </wm-gridrow> 
                                            </wm-layoutgrid> 
                                        </wm-list-item> 
                                        <wm-list-item name="list_item12"> 
                                            <wm-layoutgrid columns="2" name="layoutgrid7" show="bind:Variables.AIR_CREW_MANAGEMENTExecuteGet_crew_details.dataSet.content[0].CC2name != null"> 
                                                <wm-gridrow name="gridrow21"> 
                                                    <wm-gridcolumn colwidth="6" columnwidth="12" name="gridcolumn40" padding="1em unset unset 1em"> 
                                                        <wm-picture width="32px" picturesource="bind:Variables.get_crew_pic_url.dataSet.content[0].CC2PICURL || ''" pictureaspect="None" shape="circle" height="32px" name="picture7" show="bind:Variables.AIR_CREW_MANAGEMENTExecuteGet_crew_details.dataSet[$i].CC2name == null ? false : true"></wm-picture> 
                                                        <wm-label caption="bind:Variables.AIR_CREW_MANAGEMENTExecuteGet_crew_details.dataSet.content[0].CC2name" name="label30" show="bind:Variables.AIR_CREW_MANAGEMENTExecuteGet_crew_details.dataSet[$i].CC2name == null ? false : true" margin="unset unset unset 1em" color="#888"></wm-label> 
                                                    </wm-gridcolumn> 
                                                </wm-gridrow> 
                                            </wm-layoutgrid> 
                                        </wm-list-item> 
                                        <wm-list-item name="list_item13"> 
                                            <wm-layoutgrid columns="2" name="layoutgrid8" show="bind:Variables.AIR_CREW_MANAGEMENTExecuteGet_crew_details.dataSet.content[0].CC3name != null"> 
                                                <wm-gridrow name="gridrow22"> 
                                                    <wm-gridcolumn colwidth="6" columnwidth="12" name="gridcolumn42" padding="1em unset unset 1em"> 
                                                        <wm-picture width="32px" picturesource="bind:Variables.get_crew_pic_url.dataSet.content[0].CC3PICURL" pictureaspect="None" shape="circle" height="32px" name="picture8" show="bind:Variables.AIR_CREW_MANAGEMENTExecuteGet_crew_details.dataSet[$i].CC3name == null ? false : true"></wm-picture> 
                                                        <wm-label caption="bind:Variables.AIR_CREW_MANAGEMENTExecuteGet_crew_details.dataSet.content[0].CC3name" name="label31" show="bind:Variables.AIR_CREW_MANAGEMENTExecuteGet_crew_details.dataSet[$i].CC3name == null ? false : true" margin="unset unset unset 1em" color="#888"></wm-label> 
                                                    </wm-gridcolumn> 
                                                </wm-gridrow> 
                                            </wm-layoutgrid> 
                                        </wm-list-item> 
                                        <wm-list-item name="list_item14"> 
                                            <wm-layoutgrid columns="2" name="layoutgrid13" show="bind:Variables.AIR_CREW_MANAGEMENTExecuteGet_crew_details.dataSet.content[0].CC4name != null"> 
                                                <wm-gridrow name="gridrow27"> 
                                                    <wm-gridcolumn colwidth="6" columnwidth="12" name="gridcolumn52" padding="1em unset unset 1em"> 
                                                        <wm-picture width="32px" picturesource="bind:Variables.get_crew_pic_url.dataSet.content[0].CC4PICURL" pictureaspect="None" shape="circle" height="32px" name="picture13" show="bind:Variables.AIR_CREW_MANAGEMENTExecuteGet_crew_details.dataSet[$i].CC4name == null ? false : true"></wm-picture> 
                                                        <wm-label caption="bind:Variables.AIR_CREW_MANAGEMENTExecuteGet_crew_details.dataSet.content[0].CC4name" name="label36" show="bind:Variables.AIR_CREW_MANAGEMENTExecuteGet_crew_details.dataSet[$i].CC4name == null ? false : true" color="#888" margin="unset unset unset 1em"></wm-label> 
                                                    </wm-gridcolumn> 
                                                </wm-gridrow> 
                                            </wm-layoutgrid> 
                                        </wm-list-item> 
                                        <wm-list-item name="list_item15"> 
                                            <wm-layoutgrid columns="2" name="layoutgrid12" show="bind:Variables.AIR_CREW_MANAGEMENTExecuteGet_crew_details.dataSet.content[0].CC5name != null"> 
                                                <wm-gridrow name="gridrow26"> 
                                                    <wm-gridcolumn colwidth="6" columnwidth="12" name="gridcolumn50" padding="1em unset unset 1em"> 
                                                        <wm-picture width="32px" picturesource="bind:Variables.get_crew_pic_url.dataSet.content[0].CC5PICURL" pictureaspect="None" shape="circle" height="32px" name="picture12" show="bind:Variables.AIR_CREW_MANAGEMENTExecuteGet_crew_details.dataSet[$i].CC5name == null ? false : true"></wm-picture> 
                                                        <wm-label caption="bind:Variables.AIR_CREW_MANAGEMENTExecuteGet_crew_details.dataSet.content[0].CC5name" name="label35" show="bind:Variables.AIR_CREW_MANAGEMENTExecuteGet_crew_details.dataSet[$i].CC5name == null ? false : true" margin="unset unset unset 1em" color="#888"></wm-label> 
                                                    </wm-gridcolumn> 
                                                </wm-gridrow> 
                                            </wm-layoutgrid> 
                                        </wm-list-item> 
                                        <wm-list-item name="list_item16"> 
                                            <wm-layoutgrid columns="2" name="layoutgrid11" show="bind:Variables.AIR_CREW_MANAGEMENTExecuteGet_crew_details.dataSet.content[0].CC6name != null"> 
                                                <wm-gridrow name="gridrow25"> 
                                                    <wm-gridcolumn colwidth="6" columnwidth="12" name="gridcolumn48" padding="1em unset unset 1em"> 
                                                        <wm-picture width="32px" picturesource="bind:Variables.get_crew_pic_url.dataSet.content[0].CC6PICURL" pictureaspect="None" shape="circle" height="32px" name="picture11" show="bind:Variables.AIR_CREW_MANAGEMENTExecuteGet_crew_details.dataSet[$i].CC6name == null ? false : true"></wm-picture> 
                                                        <wm-label caption="bind:Variables.AIR_CREW_MANAGEMENTExecuteGet_crew_details.dataSet.content[0].CC6name" name="label34" show="bind:Variables.AIR_CREW_MANAGEMENTExecuteGet_crew_details.dataSet[$i].CC6name == null ? false : true" margin="unset unset unset 1em" color="#888"></wm-label> 
                                                    </wm-gridcolumn> 
                                                </wm-gridrow> 
                                            </wm-layoutgrid> 
                                        </wm-list-item> 
                                        <wm-list-item name="list_item17"> 
                                            <wm-layoutgrid columns="2" name="layoutgrid10" show="bind:Variables.AIR_CREW_MANAGEMENTExecuteGet_crew_details.dataSet.content[0].CC7name != null"> 
                                                <wm-gridrow name="gridrow24"> 
                                                    <wm-gridcolumn colwidth="6" columnwidth="12" name="gridcolumn46" padding="1em unset unset 1em"> 
                                                        <wm-picture width="32px" picturesource="bind:Variables.get_crew_pic_url.dataSet.content[0].CC7PICURL" pictureaspect="None" shape="circle" height="32px" name="picture10" show="bind:Variables.AIR_CREW_MANAGEMENTExecuteGet_crew_details.dataSet[$i].CC7name == null ? false : true"></wm-picture> 
                                                        <wm-label caption="bind:Variables.AIR_CREW_MANAGEMENTExecuteGet_crew_details.dataSet.content[0].CC7name" name="label33" show="bind:Variables.AIR_CREW_MANAGEMENTExecuteGet_crew_details.dataSet[$i].CC7name  == null ? false : true" margin="unset unset unset 1em" color="#888"></wm-label> 
                                                    </wm-gridcolumn> 
                                                </wm-gridrow> 
                                            </wm-layoutgrid> 
                                        </wm-list-item> 
                                        <wm-list-item name="list_item18"> 
                                            <wm-layoutgrid columns="2" name="layoutgrid9"> 
                                                <wm-gridrow name="gridrow23"> 
                                                    <wm-gridcolumn colwidth="6" columnwidth="12" name="gridcolumn44" padding="1em unset 1em 1em"> 
                                                        <wm-picture width="32px" picturesource="bind:Variables.get_crew_pic_url.dataSet[$i].CC8PICURL || ''" pictureaspect="None" shape="circle" height="32px" name="picture9" show="bind:Variables.AIR_CREW_MANAGEMENTExecuteGet_crew_details.dataSet[$i].CC8name == null ? false : true"></wm-picture> 
                                                        <wm-label caption="bind:Variables.AIR_CREW_MANAGEMENTExecuteGet_crew_details.dataSet.content[0].CC8name" name="label32" show="bind:Variables.AIR_CREW_MANAGEMENTExecuteGet_crew_details.dataSet[$i].CC8name == null ? false : true" margin="unset unset unset 1em" color="#888"></wm-label> 
                                                    </wm-gridcolumn> 
                                                </wm-gridrow> 
                                                <wm-gridrow name="gridrow20_1"> 
                                                    <wm-gridcolumn columnwidth="12" name="gridcolumn22_1"> 
                                                        <wm-label caption="Please Select a Cabin Crew" show="bind:Variables.selected_flight_details.dataSet.CCCount == 8" margin="unset unset unset 3em" color="#888" name="label25" padding="unset unset 1em unset"></wm-label> 
                                                    </wm-gridcolumn> 
                                                </wm-gridrow> 
                                            </wm-layoutgrid> 
                                        </wm-list-item> 
                                    </wm-list> 
                                </wm-list-item> 
                            </wm-list> 
                        </wm-panel> 
                    </wm-gridcolumn> 
                </wm-gridrow> 
            </wm-layoutgrid> 
        </wm-page-content> 
    </wm-content> 
</wm-page>