.crew .panel-body {
    padding: 0;
}
.wm-app .wi {
    color: #7b88df;
}
.air-plane-container {
    position: relative;
}
.air-plane {
    position: absolute;
    margin-top: -18px;
    margin-left: -27px;
    width: 50px;
    height: 50px;
    background-color: white;
}

.wm-app .wi {
   
    padding-right: 0.4em;
}
