<wm-page data-ng-controller="Assigned_FlightsPageController" name="page1"> 
    <wm-left-panel content="leftnav" name="left_panel1" animation="slide-over"></wm-left-panel> 
    <wm-mobile-navbar name="mobile_navbar1" horizontalalign="left" backbutton="false" paddingunit="%" backgroundsize="6em" backgroundrepeat="no-repeat" backgroundattachment="local" title="AirCrew" fontunit="em"></wm-mobile-navbar> 
    <wm-content name="content1"> 
        <wm-page-content columnwidth="12" name="page_content1"> 
            <wm-layoutgrid name="layoutgrid1" columns="1"> 
                <wm-gridrow name="gridrow5" borderstyle="solid" bordercolor="#ddd" borderwidth="0px 0px 1px 0px"> 
                    <wm-gridcolumn colwidth="12" name="gridcolumn22"> 
                        <wm-label name="label1" caption="1 ASSIGNED FLIGHTS" margin="unset unset 0px unset" padding="1em unset 1em 1em" class="p" backgroundcolor="#10C1BC" color="#fff" fontsize="1.2" fontunit="em"></wm-label> 
                    </wm-gridcolumn> 
                </wm-gridrow> 
                <wm-gridrow name="gridrow6"> 
                    <wm-gridcolumn colwidth="12" name="gridcolumn23"> 
                        <wm-list listclass="list-group" itemclass="list-group-item" dataset="bind:Variables.assigned_flights.dataSet" name="livelist1" on-tap="Variables.goToPage_flight_details.invoke();livelist1Tap($event, $scope)"> 
                            <wm-listtemplate layout="panel" name="listtemplate1"> 
                                <wm-layoutgrid name="layoutgrid2" columns="1"> 
                                    <wm-gridrow name="gridrow20" class="hide"> 
                                        <wm-gridcolumn columnwidth="1" name="gridcolumn21" padding="1em .5em 1em unset"> 
                                            <wm-icon name="icon3" iconclass="wi wi-airplanemode-active" color="#a92e2e" iconsize="2em"></wm-icon> 
                                        </wm-gridcolumn> 
                                        <wm-gridcolumn colwidth="12" name="gridcolumn43" columnwidth="3"> 
                                            <wm-label name="label16" caption="bind:Variables.unassigned_flights.dataSet.content[$i].FLIGHT_NUM" class="h4" fontweight="bold" margin="unset unset 0px unset"></wm-label> 
                                            <wm-label caption="bind:&quot;ETD: &quot;+(Variables.unassigned_flights.dataSet[$i].ETD | toDate: 'HH:mm')" class="h6" name="label13" margin="0px unset unset unset"></wm-label> 
                                        </wm-gridcolumn> 
                                        <wm-gridcolumn columnwidth="4" name="gridcolumn53" horizontalalign="center"> 
                                            <wm-label name="label17" caption="bind:Variables.unassigned_flights.dataSet.content[$i].SOURCE + &quot;-&quot; + Variables.unassigned_flights.dataSet.content[$i].DESTINATION" class="h4"></wm-label> 
                                        </wm-gridcolumn> 
                                        <wm-gridcolumn columnwidth="2" name="gridcolumn12" padding="1em .5em 1em unset"> 
                                            <wm-icon name="icon1" iconclass="fa fa-group fa-lg" class="pull-right" showindevice="all" color="#598BBD"></wm-icon> 
                                        </wm-gridcolumn> 
                                        <wm-gridcolumn columnwidth="1" name="gridcolumn55" paddingunit="em"> 
                                            <wm-label name="label19" class="h4 pull-right" caption="bind:Variables.unassigned_flights.dataSet[$i].PendingCount" display="block"></wm-label> 
                                        </wm-gridcolumn> 
                                        <wm-gridcolumn columnwidth="1" name="gridcolumn11" padding="1em unset"> 
                                            <wm-icon name="icon2" iconclass="fa fa-chevron-right fa-2x" class="pull-right" iconsize="18px" show="false"></wm-icon> 
                                        </wm-gridcolumn> 
                                    </wm-gridrow> 
                                    <wm-gridrow name="gridrow16"> 
                                        <wm-gridcolumn columnwidth="5" name="gridcolumn30"> 
                                            <wm-container name="container1"> 
                                                <wm-icon iconclass="wi wi-airplanemode-active" color="#7b88df" iconsize="2em" class="media-left" name="icon6"></wm-icon> 
                                                <wm-container name="container2" class="media-body"> 
                                                    <wm-label caption="bind:Variables.assigned_flights.dataSet[$i].FLIGHT_NUM" fontweight="bold" margin="unset unset 0px unset" name="label18"></wm-label> 
                                                    <wm-label caption="bind:&quot;ETD: &quot;+(Variables.assigned_flights.dataSet[$i].ETD | toDate: 'HH:mm')" fontsize="0.9" fontunit="em" margin="0px unset" name="label19_2" class="p"></wm-label> 
                                                </wm-container> 
                                            </wm-container> 
                                        </wm-gridcolumn> 
                                        <wm-gridcolumn columnwidth="4" name="gridcolumn31"> 
                                            <wm-label name="label17" caption="bind:Variables.assigned_flights.dataSet.content[$i].SOURCE + &quot;-&quot; + Variables.assigned_flights.dataSet.content[$i].DESTINATION" fontsize="0.92" fontunit="em" padding=".5em unset unset unset" class="p"></wm-label> 
                                        </wm-gridcolumn> 
                                        <wm-gridcolumn columnwidth="3" name="gridcolumn32"> 
                                            <wm-container name="container3"> 
                                                <wm-icon name="icon1" iconclass="fa fa-group" showindevice="all" color="#457372" class="media-left"></wm-icon> 
                                                <wm-container name="container4" class="media-body"> 
                                                    <wm-label name="label19" caption="11" display="inline-block" whitespace="nowrap"></wm-label> 
                                                </wm-container> 
                                            </wm-container> 
                                        </wm-gridcolumn> 
                                    </wm-gridrow> 
                                </wm-layoutgrid> 
                            </wm-listtemplate> 
                        </wm-list> 
                        <wm-panel name="panel1" title="OVERVIEW" class="panel-primary"> 
                            <wm-layoutgrid margin="unset unset 2em unset" name="layoutgrid11"> 
                                <wm-gridrow name="gridrow20_2"> 
                                    <wm-gridcolumn columnwidth="6" class="col-xs-6" padding=".5em .5em .5em 1em" name="gridcolumn38_1"> 
                                        <wm-tile height="115pt" padding="1.5em 1em 1em 1em" name="tile5" backgroundcolor="#E9E8F8"> 
                                            <wm-layoutgrid name="layoutgrid12"> 
                                                <wm-gridrow padding="unset unset 1em unset" name="gridrow21"> 
                                                    <wm-gridcolumn columnwidth="4" name="gridcolumn39"></wm-gridcolumn> 
                                                    <wm-gridcolumn columnwidth="4" name="gridcolumn40"> 
                                                        <wm-picture picturesource="resources/images/imagelists/flightlarge-icon.png" width="2.5em" name="picture5"></wm-picture> 
                                                    </wm-gridcolumn> 
                                                    <wm-gridcolumn columnwidth="4" name="gridcolumn41"></wm-gridcolumn> 
                                                </wm-gridrow> 
                                                <wm-gridrow name="gridrow22"> 
                                                    <wm-gridcolumn columnwidth="12" name="gridcolumn42_1"> 
                                                        <wm-label width="100%" textalign="center" caption="bind:Variables.totalFlights.dataSet.value" class="text-uppercase" fontweight="bold" name="label19_1"></wm-label> 
                                                        <wm-label width="100%" textalign="center" caption="FLIGHTS" fontweight="bold" margin="0px unset unset unset" name="label20"></wm-label> 
                                                    </wm-gridcolumn> 
                                                </wm-gridrow> 
                                            </wm-layoutgrid> 
                                        </wm-tile> 
                                    </wm-gridcolumn> 
                                    <wm-gridcolumn columnwidth="6" class="col-xs-6" padding=".5em 1em .5em .5em" name="gridcolumn43_2"> 
                                        <wm-tile fontweight="bold" height="115pt" padding="1.5em 1em 1em 1em" name="tile6" backgroundcolor="#E9E8F8"> 
                                            <wm-layoutgrid name="layoutgrid13"> 
                                                <wm-gridrow padding=".5em unset 1em unset" name="gridrow23_1"> 
                                                    <wm-gridcolumn columnwidth="4" name="gridcolumn44_1"></wm-gridcolumn> 
                                                    <wm-gridcolumn columnwidth="4" name="gridcolumn45_1"> 
                                                        <wm-picture picturesource="resources/images/imagelists/captains.png" width="3em" paddingunit="em" name="picture6"></wm-picture> 
                                                    </wm-gridcolumn> 
                                                    <wm-gridcolumn columnwidth="4" name="gridcolumn46_1"></wm-gridcolumn> 
                                                </wm-gridrow> 
                                                <wm-gridrow name="gridrow24"> 
                                                    <wm-gridcolumn columnwidth="12" name="gridcolumn47"> 
                                                        <wm-label width="100%" textalign="center" caption="bind:Variables.count_captains.dataSet.data.length" class="text-uppercase" fontweight="bold" name="label21"></wm-label> 
                                                        <wm-label width="100%" textalign="center" caption="CAPTAINS" fontweight="bold" margin="0px unset unset unset" name="label22"></wm-label> 
                                                    </wm-gridcolumn> 
                                                </wm-gridrow> 
                                            </wm-layoutgrid> 
                                        </wm-tile> 
                                    </wm-gridcolumn> 
                                </wm-gridrow> 
                                <wm-gridrow name="gridrow25"> 
                                    <wm-gridcolumn columnwidth="6" class="col-xs-6" padding=".5em .5em .5em 1em" name="gridcolumn48"> 
                                        <wm-tile fontweight="bold" height="115pt" padding="1.5em 1em 1em 1em" name="tile7" backgroundcolor="#E9E8F8"> 
                                            <wm-layoutgrid name="layoutgrid14"> 
                                                <wm-gridrow padding=".5em unset 1em unset" name="gridrow26"> 
                                                    <wm-gridcolumn columnwidth="4" name="gridcolumn49"></wm-gridcolumn> 
                                                    <wm-gridcolumn columnwidth="4" name="gridcolumn50"> 
                                                        <wm-picture picturesource="resources/images/imagelists/co-pilot.png" width="3em" name="picture7"></wm-picture> 
                                                    </wm-gridcolumn> 
                                                    <wm-gridcolumn columnwidth="4" name="gridcolumn51"></wm-gridcolumn> 
                                                </wm-gridrow> 
                                                <wm-gridrow name="gridrow27"> 
                                                    <wm-gridcolumn columnwidth="12" name="gridcolumn52"> 
                                                        <wm-label width="100%" textalign="center" caption="bind:Variables.count_FOs.dataSet.data.length" class="text-uppercase" fontweight="bold" name="label23"></wm-label> 
                                                        <wm-label width="100%" textalign="center" caption="FOs" fontweight="bold" margin="0px unset unset unset" name="label24"></wm-label> 
                                                    </wm-gridcolumn> 
                                                </wm-gridrow> 
                                            </wm-layoutgrid> 
                                        </wm-tile> 
                                    </wm-gridcolumn> 
                                    <wm-gridcolumn columnwidth="6" class="col-xs-6" padding=".5em 1em .5em .5em" name="gridcolumn53_1"> 
                                        <wm-tile height="115pt" padding="1.5em 1em 1em 1em" name="tile8" backgroundcolor="#E9E8F8"> 
                                            <wm-layoutgrid name="layoutgrid15"> 
                                                <wm-gridrow padding=".5em unset 1em unset" name="gridrow28"> 
                                                    <wm-gridcolumn columnwidth="4" name="gridcolumn54"></wm-gridcolumn> 
                                                    <wm-gridcolumn columnwidth="4" name="gridcolumn55_2"> 
                                                        <wm-picture picturesource="resources/images/imagelists/crewlarge.png" width="3em" name="picture8"></wm-picture> 
                                                    </wm-gridcolumn> 
                                                    <wm-gridcolumn columnwidth="4" name="gridcolumn56"></wm-gridcolumn> 
                                                </wm-gridrow> 
                                                <wm-gridrow name="gridrow29"> 
                                                    <wm-gridcolumn columnwidth="12" name="gridcolumn57"> 
                                                        <wm-label width="100%" textalign="center" caption="bind:Variables.count_cc1.dataSet.data.length" class="text-uppercase" fontweight="bold" name="label25"></wm-label> 
                                                        <wm-label width="100%" textalign="center" caption="CABIN CREW" fontweight="bold" margin="0px unset unset unset" name="label26"></wm-label> 
                                                    </wm-gridcolumn> 
                                                </wm-gridrow> 
                                            </wm-layoutgrid> 
                                        </wm-tile> 
                                    </wm-gridcolumn> 
                                </wm-gridrow> 
                            </wm-layoutgrid> 
                        </wm-panel> 
                    </wm-gridcolumn> 
                </wm-gridrow> 
            </wm-layoutgrid> 
        </wm-page-content> 
    </wm-content> 
</wm-page>