<wm-page data-ng-controller="MainPageController" name="page1"> 
    <wm-left-panel content="leftnav" name="left_panel1" animation="slide-over"></wm-left-panel> 
    <wm-mobile-navbar name="mobile_navbar1" horizontalalign="left" backbutton="false" paddingunit="%" backgroundsize="6em" backgroundrepeat="no-repeat" backgroundattachment="local" title="AirCrew" fontunit="em"> 
        <wm-button class="navbar-btn btn-primary" caption="" type="button" name="button1" iconclass="wi wi-restore" horizontalalign="left" padding="unset 0.5em" on-tap="button1Tap($event, $scope)"></wm-button> 
    </wm-mobile-navbar> 
    <wm-content name="content1"> 
        <wm-page-content columnwidth="12" name="page_content1"> 
            <wm-layoutgrid name="layoutgrid1" columns="1"> 
                <wm-gridrow name="gridrow5" borderstyle="solid" bordercolor="#ddd" borderwidth="0px 0px 1px 0px"> 
                    <wm-gridcolumn colwidth="12" name="gridcolumn22"> 
                        <wm-label name="label1" caption="1 UNASSIGNED FLIGHTS" margin="unset unset 0em unset" fontsize="1.2" fontunit="em" padding="1em unset 1em 1em" class="p" backgroundcolor="#10C1BC" color="#fff"></wm-label> 
                    </wm-gridcolumn> 
                </wm-gridrow> 
                <wm-gridrow name="gridrow6"> 
                    <wm-gridcolumn colwidth="12" name="gridcolumn23"> 
                        <wm-list listclass="list-group" itemclass="list-group-item" dataset="bind:Variables.unassigned_flights.dataSet" name="livelist1" on-tap="livelist1Tap($event, $scope);Variables.goToPage_flight_details.invoke()"> 
                            <wm-listtemplate layout="panel" name="listtemplate1"> 
                                <wm-container name="container7_1"> 
                                    <wm-layoutgrid name="layoutgrid11"> 
                                        <wm-gridrow name="gridrow20_1"> 
                                            <wm-gridcolumn columnwidth="2" name="gridcolumn32"> 
                                                <wm-container name="container1" class="media-left" horizontalalign="left"> 
                                                    <wm-icon name="icon5" iconclass="wi wi-airplanemode-active" iconsize="2em" color="#7b88df"></wm-icon> 
                                                </wm-container> 
                                            </wm-gridcolumn> 
                                            <wm-gridcolumn columnwidth="4" name="gridcolumn33"> 
                                                <wm-label name="label16" caption="bind:Variables.unassigned_flights.dataSet.content[$i].FLIGHT_NUM" fontweight="bold" margin="unset unset -1px unset" width="100%"></wm-label> 
                                                <wm-label caption="bind:&quot;ETD: &quot;+(Variables.unassigned_flights.dataSet[$i].ETD | toDate: 'HH:mm')" name="label13" fontsize="0.9" fontunit="em" margin="unset unset 0px unset" width="100%"></wm-label> 
                                            </wm-gridcolumn> 
                                            <wm-gridcolumn columnwidth="4" name="gridcolumn34" horizontalalign="left"> 
                                                <wm-label name="label17" caption="bind:Variables.unassigned_flights.dataSet.content[$i].SOURCE + &quot;-&quot; + Variables.unassigned_flights.dataSet.content[$i].DESTINATION" fontsize="0.9" fontunit="em" class="p" horizontalalign="left" width="100%" margin="unset unset 0px unset"></wm-label> 
                                            </wm-gridcolumn> 
                                            <wm-gridcolumn columnwidth="2" name="gridcolumn41"> 
                                                <wm-container class="media-right" name="container5" width="50%" horizontalalign="center"></wm-container> 
                                                <wm-container name="container7" horizontalalign="right" display="inline-block" margin="-1px unset unset unset"> 
                                                    <wm-icon name="icon1" iconclass="fa fa-group fa-lg" showindevice="all" iconsize="1em" color="#457372"></wm-icon> 
                                                    <wm-label name="label19" caption="bind:Variables.unassigned_flights.dataSet[$i].PendingCount" display="inline-block" margin="unset unset -5px 2px" class="pull right"></wm-label> 
                                                </wm-container> 
                                            </wm-gridcolumn> 
                                        </wm-gridrow> 
                                    </wm-layoutgrid> 
                                </wm-container> 
                            </wm-listtemplate> 
                        </wm-list> 
                    </wm-gridcolumn> 
                </wm-gridrow> 
                <wm-gridrow name="gridrow22"> 
                    <wm-gridcolumn columnwidth="12" name="gridcolumn38_1"> 
                        <wm-panel name="panel1" title="OVERVIEW" class="panel-primary"> 
                            <wm-layoutgrid name="layoutgrid213"> 
                                <wm-gridrow name="gridrow24"> 
                                    <wm-gridcolumn columnwidth="6" class="col-xs-6" padding=".5em" name="gridcolumn40"> 
                                        <wm-tile height="115pt" padding="1.5em 1em 1em 1em" name="tile5" backgroundcolor="#E9E8F8"> 
                                            <wm-layoutgrid name="layoutgrid12"> 
                                                <wm-gridrow padding="unset unset 1em unset" name="gridrow25"> 
                                                    <wm-gridcolumn columnwidth="12" name="gridcolumn42_1" horizontalalign="center"> 
                                                        <wm-picture picturesource="resources/images/imagelists/flightlarge-icon.png" width="2.5em" name="picture6"></wm-picture> 
                                                    </wm-gridcolumn> 
                                                </wm-gridrow> 
                                                <wm-gridrow name="gridrow26"> 
                                                    <wm-gridcolumn columnwidth="12" name="gridcolumn44_1"> 
                                                        <wm-label width="100%" textalign="center" caption="bind:Variables.totalFlights.dataSet.value" class="text-uppercase" fontweight="bold" name="label20"></wm-label> 
                                                        <wm-label width="100%" textalign="center" caption="FLIGHTS" fontweight="bold" margin="0px unset unset unset" name="label21"></wm-label> 
                                                    </wm-gridcolumn> 
                                                </wm-gridrow> 
                                            </wm-layoutgrid> 
                                        </wm-tile> 
                                    </wm-gridcolumn> 
                                    <wm-gridcolumn columnwidth="6" class="col-xs-6" padding=".5em" name="gridcolumn45_1"> 
                                        <wm-tile fontweight="bold" height="115pt" padding="1.5em 1em 1em 1em" name="tile6" backgroundcolor="#E9E8F8"> 
                                            <wm-layoutgrid name="layoutgrid13"> 
                                                <wm-gridrow padding=".5em unset 1em unset" name="gridrow27"> 
                                                    <wm-gridcolumn columnwidth="12" name="gridcolumn47" horizontalalign="center"> 
                                                        <wm-picture picturesource="resources/images/imagelists/captains.png" width="3em" paddingunit="em" name="picture7"></wm-picture> 
                                                    </wm-gridcolumn> 
                                                </wm-gridrow> 
                                                <wm-gridrow name="gridrow28"> 
                                                    <wm-gridcolumn columnwidth="12" name="gridcolumn49"> 
                                                        <wm-label width="100%" textalign="center" caption="bind:Variables.count_captains.dataSet.data.length" class="text-uppercase" fontweight="bold" name="label22"></wm-label> 
                                                        <wm-label width="100%" textalign="center" caption="CAPTAINS" fontweight="bold" margin="0px unset unset unset" name="label23"></wm-label> 
                                                    </wm-gridcolumn> 
                                                </wm-gridrow> 
                                            </wm-layoutgrid> 
                                        </wm-tile> 
                                    </wm-gridcolumn> 
                                </wm-gridrow> 
                                <wm-gridrow name="gridrow29"> 
                                    <wm-gridcolumn columnwidth="6" class="col-xs-6" padding=".5em" name="gridcolumn50"> 
                                        <wm-tile fontweight="bold" height="115pt" padding="1.5em 1em 1em 1em" name="tile7" backgroundcolor="#E9E8F8"> 
                                            <wm-layoutgrid name="layoutgrid14"> 
                                                <wm-gridrow padding=".5em unset 1em unset" name="gridrow30_1"> 
                                                    <wm-gridcolumn columnwidth="12" name="gridcolumn52" horizontalalign="center"> 
                                                        <wm-picture picturesource="resources/images/imagelists/co-pilot.png" width="3em" name="picture8"></wm-picture> 
                                                    </wm-gridcolumn> 
                                                </wm-gridrow> 
                                                <wm-gridrow name="gridrow31"> 
                                                    <wm-gridcolumn columnwidth="12" name="gridcolumn54"> 
                                                        <wm-label width="100%" textalign="center" caption="bind:Variables.count_FOs.dataSet.data.length" class="text-uppercase" fontweight="bold" name="label24"></wm-label> 
                                                        <wm-label width="100%" textalign="center" caption="FOs" fontweight="bold" margin="0px unset unset unset" name="label25"></wm-label> 
                                                    </wm-gridcolumn> 
                                                </wm-gridrow> 
                                            </wm-layoutgrid> 
                                        </wm-tile> 
                                    </wm-gridcolumn> 
                                    <wm-gridcolumn columnwidth="6" class="col-xs-6" padding=".5em" name="gridcolumn55_2"> 
                                        <wm-tile height="115pt" padding="1.5em 1em 1em 1em" name="tile8" backgroundcolor="#E9E8F8"> 
                                            <wm-layoutgrid name="layoutgrid15"> 
                                                <wm-gridrow padding=".5em unset 1em unset" name="gridrow32"> 
                                                    <wm-gridcolumn columnwidth="12" name="gridcolumn57" horizontalalign="center"> 
                                                        <wm-picture picturesource="resources/images/imagelists/crewlarge.png" width="3em" name="picture9"></wm-picture> 
                                                    </wm-gridcolumn> 
                                                </wm-gridrow> 
                                                <wm-gridrow name="gridrow33"> 
                                                    <wm-gridcolumn columnwidth="12" name="gridcolumn59"> 
                                                        <wm-label width="100%" textalign="center" caption="bind:Variables.count_cc1.dataSet.data.length" class="text-uppercase" fontweight="bold" name="label26"></wm-label> 
                                                        <wm-label width="100%" textalign="center" caption="CABIN CREW" fontweight="bold" margin="0px unset unset unset" name="label27"></wm-label> 
                                                    </wm-gridcolumn> 
                                                </wm-gridrow> 
                                            </wm-layoutgrid> 
                                        </wm-tile> 
                                    </wm-gridcolumn> 
                                </wm-gridrow> 
                            </wm-layoutgrid> 
                        </wm-panel> 
                    </wm-gridcolumn> 
                </wm-gridrow> 
            </wm-layoutgrid> 
        </wm-page-content> 
    </wm-content> 
</wm-page>