.app-livelist .loading-data-msg,
.app-livelist .no-data-msg {
    padding-top: 0.9em;
    padding-bottom: 1em;
}
.wm-app .app-left-panel .nav li a .app-icon {
    color: #10C1BC;
}
.wm-app .app-livelist .media {
    border-bottom: 0px;
}